/*reset*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root{
    --text-color: #ff7d00;
    --firstbg: #77878b;
    --scndbg: #090c08;
    --white: #f7f7ff;
    --reddish: #92140c;

}

body {
    background-image: linear-gradient(45deg, var(--reddish), var(--scndbg));
    text-align: center;
    font-family: serif, sans-serif;
    color: var(--white);
}

h1 {
    font-size: x-large;
    font-weight: bolder;
    letter-spacing: 2px;
    margin: 25px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--reddish);
}

form {
    width: 60vw;
    margin: auto;
    margin-bottom: 100px;
    border-radius: 2%;
    background-image: linear-gradient(45deg, var(--scndbg), var(--reddish));
    color: var(--white);
    padding: 50px 0;
}

legend {
    position: relative;
    top: 30px;
    font-size: large;
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom: var(--white);
    letter-spacing: 1.2px;
    margin-bottom: 50px;
   
}


.radio-option input[type="radio"] {
    display: none;
    cursor: pointer;
}

.radio-option label {
    height: 100%;
    display: block;
    background-color: var(--white);
    color: var(--scndbg);
    border: 2px solid var(--text-color);
    border-radius: 20px;
    padding: 1rem;
    margin: 1rem;
    box-shadow: 0px 3px 10px -2px hsla(46, 97%, 46%, 0.5);
    transition: all 0.3s ease-in;
}

.radio-option input[type="radio"]:hover + label {
  color: var(--scndbg);
  box-shadow: 0px 0px 20px hsla(46, 97%, 46%, 0.5);
  font-size: medium;
  font-weight: bold;
   }

.radio-option input[type="radio"]:checked + label {
  background: var(--text-color);
  color: var(--white);
  box-shadow: 0px 0px 20px hsla(46, 97%, 46%, 0.5);
  font-size: large;
  font-weight: bold;
   }
   
